:root{
    --first-color: #daf0ff;
    --second-color: #fff;
    --highlight-color: #02E12E
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: transparent 0 solid;
}

p{
    margin: 0;
}

.link{
    text-decoration: none;
}

h2{
    position: relative;
}

h2::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
}

h3{
    position: relative;
    font-size: 24px;
}

h3::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
}

body{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 14px;
}

main{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.all-info{
    display: flex;
}

.left-info{
    background-color: #323B4C;
    color: #fff;
    padding: 50px 0 20px;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.text-left-info{
    padding-left: 50px;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.svg-contacts{
    width: 30px;
    height: 30px;
    fill: white;
}

.item-contacts{
    display: flex;
    align-items: center;
    font-style: normal;
}

.item-contacts:hover .p-contacts,
.item-contacts:focus .p-contacts,
.item-contacts:hover .svg-contacts,
.item-contacts:focus .svg-contacts,
.item-contacts:hover .svg-contacts-second,
.item-contacts:focus .svg-contacts-second{
    color: var(--highlight-color);
    fill: var(--highlight-color);
}

.p-contacts{
    color: var(--second-color);
    margin: 0 0 0 5px;
}

.mail{
    margin-right: 20px;
}

.list-tech-skills{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-soft-skills{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-languages{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-info{
    margin: 0;
    background-color: white;
    padding: 20px;
}

.name{
    margin-bottom: 10px;
    font-size: 30px;
}

.second-name{
    font-weight: 400;
}

.position{
    font-size: 18px;
    font-weight: 500;
}

.h-summary{
    margin-top: 0;
}

.p-summary{
    text-indent: 0;
    margin: 15px 0;
    font-size: 12px;
}

.list-project-experience{
    padding-left: 20px;
}

.h-h-exemple-project-experience{
    display: flex;
    position: relative;
}

.h-exemple-project-experience{
    margin: 5px 0;
    color: black;
}

.h-item-experience::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
}

.h-item-experience::after{
    content: "";
  position: absolute;
  height: 100%; /* Висота лінії */
  width: 2px; /* Ширина лінії */
  background-color: #000; /* Колір лінії */
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.h-item-experience+.h-item-experience::before{
    top: 50%;
  transform: translateY(-50%);
}

.p-project-experience{
    text-indent: 0;
    margin: 5px 0;
}

.link-exemple-project-experience{
    margin-left: 3px;
}

.h-exemple-work-experience{
    margin: 5px 0;
}

.p-time-work-experience{
    margin: 5px 0;
    color: var(--second-color);
    font-weight: 500;
}

.h-exemple-education{
    margin: 5px 0;
}

.p-time-education{
    margin: 5px 0;
    color: var(--second-color);
    font-weight: 500;
}

.span-degree{
    font-weight: 500;
}