:root{
    --first-color: #daf0ff;
    --second-color: #000080;
    --highlight-color: #02E12E
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: transparent 0 solid;
}

.link{
    text-decoration: none;
}

body{
    background-color: var(--first-color);
}

main{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.name-photo{
    display: flex;
    height: 150px;
    width: 100%;
    background-color: var(--second-color);
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.photo{
    position: absolute;
    left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.svg-contacts{
    width: 30px;
    height: 30px;
    fill: var(--second-color);
}

.svg-contacts:focus,
.svg-contacts:hover{
    fill: var(--highlight-color);
}

.svg-contacts-second{
    width: 30px;
    height: 30px;
    fill: white;
}

.svg-contacts-second:hover,
.svg-contacts-second:focus{
    
}

.item-contacts{
    display: flex;
    align-items: center;
    font-style: normal;
}

.item-contacts:hover .p-contacts,
.item-contacts:focus .p-contacts,
.item-contacts:hover .svg-contacts,
.item-contacts:focus .svg-contacts,
.item-contacts:hover .svg-contacts-second,
.item-contacts:focus .svg-contacts-second{
    color: var(--highlight-color);
    fill: var(--highlight-color);
}

.p-contacts{
    color: var(--second-color);
    margin: 0 0 0 5px;
}

.list-tech-scils{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-soft-scils{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-languages{
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}